RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-


#redirecionamiento para index
Rewriterule ^Inicio/Salas$ index/ver_salas.php
Rewriterule ^Inicio/Filas_(.+)$ index/verfilas.php?fila=$1
Rewriterule ^Inicio/Login$ index/index.php
Rewriterule ^Inicio/registrer$ index/registrer.php


#redireccionamiento para prestamos
Rewriterule ^Prestamos/crear$ Prestamos/crear_prestamo.php
Rewriterule ^Prestamos/devolver_(.+)$ Prestamos/ver_prestamo.php?l=$1

#redireccionamiento para trasferencias
Rewriterule ^Trasferencia/Crear$ areatrasferencia/creararea.php
Rewriterule ^Trasferencia/Ver$ areatrasferencia/verarea.php

#redireccionamiento para certificados de desintegracion
Rewriterule ^Documentos/Chatarrizacion$ cert_desintegracion/ver_desintegracion.php

#redireccionamiento para Contratos
Rewriterule ^Documentos/Contratos$ Contratos/ver_contratos.php


#redireccionamiento para docuemtnos contables
Rewriterule ^Documentos/Contables$ contables/ver_contable.php

#redireccionamiento para Escrituras
Rewriterule ^Documentos/Escrituras$ Escrituras/ver_escrituras.php

#redireccionamiento para Facturas
Rewriterule ^Documentos/Facturas$ facturas/ver_factura.php

#redireccionamiento para Historias Laborales
Rewriterule ^Documentos/HHLL$ histlaborales/ver_historias_laborales.php

#redireccionamiento para Importaciones
Rewriterule ^Documentos/Importaciones$ importaciones/ver.php

#redireccionamiento para impuestos
Rewriterule ^Documentos/Impuestos$ Impuestos/ver_impuestos.php

#redireccionamiento para Seguridad social
Rewriterule ^Documentos/Seguridadsocial$ seguridad/ver_seguridad.php

#redireccionamiento para informe entrada
Rewriterule ^Documentos/InformeEntrada$ info_entrada/ver_info.php


#redireccionamiento para informe entrada
Rewriterule ^Documentos/libroOficiales$ Libros_Oficiales/ver_libros.php


Options -Indexes
ErrorDocument 404 /archivo/vista/error/404/index.html

